.hero-content{
    display: flex;   
}

.hero-content-lefth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    button{
        width: 50%;
    }
}