<h1>{{ hero.name | uppercase }} <small>({{ hero.appearance | date:'y' }})</small></h1>
<mat-divider></mat-divider>

<div class="hero-content">
  <div class="col-4">
    <img [src]="hero.img" class="img-fluid" [alt]="hero.name" style="width: 100%;">
  </div>
  <div class="col-8">
    <h3>{{ hero.name }}</h3>
    <mat-divider></mat-divider>
    <p>
      {{ hero.bio }}
    </p>
    <div>
      <img class="img-logo" [src]="'assets/img/'+getImgHouse(hero.house)" [alt]="hero.house">
    </div>
  </div>
</div>
