<mat-card class="card-ui shadow-card" (click)="onClick()">
  <div class="content-image">
    <img mat-card-image [src]="hero.img" [alt]="hero.name">
  </div>  
  <mat-card-content class="wrapper">
    <div mat-card-avatar class="card-ui-thumbnail" [ngStyle]="{'background-image':'url(assets/img/'+getImgHouse(hero.house)+')'}"></div>
    <h6>{{hero.name}}</h6>
    <mat-card-title class="wrapper-title">{{hero.bio}}</mat-card-title>
    <p class="wrapper-overflow">
      {{hero.appearance}}
    </p>
  </mat-card-content>
</mat-card>

