<mat-card class="cardElements" (click)="onClick()">
  <mat-card-header>
      <div mat-card-avatar class="card-header-image" [ngStyle]="{'background-image':'url(assets/img/'+getImgHouse(hero.house)+')'}"></div>
      <mat-card-title>{{hero.name}}</mat-card-title>
      <mat-card-subtitle>{{hero.appearance}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="hero.img" [alt]="hero.name">
  <mat-card-content class="wrapper">
    <p class="wrapper-overflow">
      {{hero.bio}}
    </p>
  </mat-card-content>
</mat-card>
