.app-container-card{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 100%;
}

.breadcrub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    margin: 16px;
    height: 60px;
    .title{
        font-size: x-large;
        font-weight: 500;
    }
    .sub-title{
        font-size: large;
    }
}